<div class="col-lg-8 mx-auto">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, placeholder: "Mojito" %>
    <%= f.input :recipe, placeholder: "Add the recipe steps", as: :text %>
    <%= f.input :picture, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
    <div class="preview">
      <%= image_tag "", width: 200, height: 250, class: "hidden", id: "photo-preview" %>
    </div>
    <%= f.button :submit, class: "btn btn-devise" %>
  <% end %>
</div>
