  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name, placeholder: "Mojito" %>
  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<div id="spinner" class="spinner" style="display:none;">
  <%= image_tag "spinner.gif", id: "img-spinner", alt: "loading..." %>
</div>
