<div class="show-page">
  <div class="cocktail-show-banner">
    <h2>Cocktail</h2>
    <div class="sep"></div>
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="cocktail-section container-fluid">
    <div class="cocktail-picture">
      <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill %>
    </div>
    <div class="cocktail-description">
      <div class="cocktail-description-card" id="ingredients-card">
        <h2>Ingredients</h2>
        <div class="card-sep"></div>
        <div class="doses-show">
          <ul class="ingredients-list">
            <% @cocktail.doses.each do |dose| %>
            <li><%= dose.description %> <strong>
                <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient)%></strong>
              <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-delete' %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="cocktail-description-card" id="recipe-card">
        <h2>Recipe</h2>
        <div class="card-sep"></div>
        <div class="recipe_steps">
          <% @cocktail.fix_string.each_with_index do |step, index| %>
          <p class="step">
            <span class="step-nbr">0<%= index + 1 %></span>
            <span class="step-item"><%= step %></span>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr class="separator">
  <div class="ingredients-form">
    <% if user_signed_in? && current_user.admin? %>
    <h3>Only for admin</h3>
    <div class="col-sm-12 col-md-6">
      <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= render "ingredients/new", cocktail: @cocktail, ingredient: @ingredient %>
    </div>
    <% end %>
  </div>
</div>
