<div class="show-page">
  <div class="cocktail-show-banner">
    <h2>Cocktail</h2>
    <div class="sep"></div>
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="cocktail-section container-fluid">
    <div class="cocktail-picture">
      <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill %>
    </div>
    <div class="cocktail-description">
      <div class="cocktail-description-card" id="ingredients-card">
        <h2>Ingredients</h2>
        <div class="card-sep"></div>
        <div class="cocktail-card-content">
          <% @cocktail.doses.each do |dose| %>
            <p class="step">
              <span class="dose-nbr"><%= dose.description %> </span>
              <span class="dose-item"><%= dose.ingredient.name %></span>
              <% if user_signed_in? && current_user.admin? %>
                <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-delete' %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="cocktail-description-card" id="recipe-card">
        <h2>Recipe</h2>
        <div class="card-sep"></div>
        <div class="cocktail-card-content">
          <% @cocktail.fix_string.each_with_index do |step, index| %>
            <p class="step">
              <span class="step-nbr">0<%= index + 1 %></span>
              <span class="step-item"><%= step %></span>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="cocktail-rating">
    <div class="container">
      <h3>Enjoy this cocktail?</h3>
      <div class="row">
        <div class="col-xs-4">
          <%= render "reviews/new", cocktail: @cocktail, review: @review %>
        </div>
      </div>
      <ul class="">
        <% @cocktail.reviews.each do |review| %>
          <li class=""><%= review.rating %></li>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, review_path(review), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-delete' %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <hr class="separator">
    <div class="ingredients-form container">
      <h3>Only for admin</h3>
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
        </div>
        <div class="col-lg-6 mx-auto">
          <%= render "ingredients/new", cocktail: @cocktail, ingredient: @ingredient %>
        </div>
      </div>
    <% end %>
  </div>
</div>
